<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Video</title>
</head>
<body>
    <form th:action="@{/updateVideo}" method="post">
        <input type="text" name="title" placeholder="Video Title"><br>
        <input type="text" name="video" placeholder="Video URL"><br>
        <input type="hidden" name="action" th:value="'update'">
        <input type="hidden" name="updateId" th:value="${param.id}">
        <button type="submit" title="update">Update</button>
    </form>
</body>
</html>
