
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/CSS/welcome.css}">
    
</head>
<body>
    <nav>
        <h1>Systech</h1>
        <div class="dropdown">
            <p class="dropbtn">Categories</p>
            <div class="dropdown-content">
                <a href="#">Development</a>
                <a href="#">Business</a>
                <a href="#">Finance & Accounting</a>
                <a href="#">Personal Development</a>
                <a href="#">Design</a>
                <a href="#">Marketing</a>
            </div>
        </div>
        <ul>
            <li><a href="#"><i class="fas fa-info-circle"></i>About us</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Sign Up</a></li>
        </ul>
    </nav>
    <div class="second-nav">
        <ul>
            <li><a href="#">Development</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Finance & Accounting</a></li>
            <li><a href="#">Personal Development</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Marketing</a></li>
        </ul>
    </div>
    <div class="center-content">
        <h1>Learn without Limits...</h1>
        <img th:src="@{/image/homebackground.jpg}" alt="Background">
    </div>
    <div class="content">
        <p>Professional Certificates offer flexible, online training designed <br><br> to get you job-ready for high-growth fields.</p>
        <form th:action="@{/login}">
            <button>Enroll</button>
        </form>
    </div>
</body>
</html>

</body>
</html>